@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");
body {
  background-color: #5f5076; }

* {
  font-family: "PT Sans Narrow", sans-serif; }

.notification {
  display: none;
  z-index: 1;
  padding: 0px;
  width: 25%;
  background-color: greenyellow;
  position: fixed;
  color: white;
  right: 20px;
  bottom: 0px; }
  .notification #notification-text {
    padding: 20px 25px;
    margin-bottom: 0px;
    color: #38314f; }
  .notification .close {
    margin-top: 5px;
    margin-right: 5px;
    padding: 0px; }
    .notification .close .close-button {
      color: black;
      font-size: 15px; }

.navbar {
  background-color: #38314f;
  padding-top: 0px;
  padding-bottom: 0px; }
  .navbar .navbar-brand, .navbar .nav-link {
    color: white;
    padding: 15px 10px;
    font-size: 20px; }
  .navbar .navbar-brand:hover, .navbar .nav-item:hover {
    transition: all .25s;
    background-color: #5f5076; }
  .navbar .navbar-icon {
    font-size: 20px;
    color: white; }
  .navbar .navbar-toggler {
    padding: 15px 10px 5px 10px; }

.jumbotron {
  border-radius: 0px;
  background: #4c4167;
  color: white;
  margin-bottom: 0px; }
  .jumbotron .title {
    font-size: 55px; }

.about {
  background-color: #5f5076;
  color: white;
  padding-top: 35px;
  padding-bottom: 35px; }
  .about .icon {
    display: block;
    margin: 0px auto 25px auto;
    font-size: 500%; }
  .about .title {
    font-size: 35px;
    margin-bottom: 10px; }
  .about .content {
    font-size: 18px;
    padding: 0px 20px; }

.login {
  background-color: #5f5076;
  color: white;
  padding-top: 35px;
  padding-bottom: 35px; }
  .login .form-group {
    width: 33%;
    margin: 20px auto 0px auto; }
    .login .form-group .label {
      font-size: 18px; }

.register {
  background-color: #5f5076;
  color: white;
  padding-top: 35px;
  padding-bottom: 35px; }
  .register .form-group {
    width: 33%;
    margin: 20px auto 0px auto; }
    .register .form-group .label {
      font-size: 18px; }

.new_poll {
  background-color: #5f5076;
  color: white;
  padding-top: 35px;
  padding-bottom: 35px; }
  .new_poll .form-group {
    width: 33%;
    margin: 20px auto 0px auto; }
    .new_poll .form-group .label {
      font-size: 18px; }
  .new_poll .option_title {
    font-size: 18px; }

.mypolls {
  background-color: #5f5076;
  color: white;
  padding-top: 35px;
  padding-bottom: 35px; }
  .mypolls .poll_question {
    background-color: #38314f;
    padding: 7.5px;
    border-radius: 10px;
    text-align: center;
    color: white;
    display: block;
    margin: 20px auto 0px auto;
    width: 25%; }
  .mypolls .poll_question:hover {
    text-decoration: none; }
  .mypolls .pagination {
    margin-top: 20px;
    width: 100%; }
  .mypolls .pagination_components {
    display: block;
    margin: 0px auto; }
  .mypolls .no_polls_div {
    text-align: center; }
    .mypolls .no_polls_div #no_polls_button {
      margin-top: 20px;
      display: inline-block; }

.poll {
  background-color: #5f5076;
  color: white;
  padding-top: 35px;
  padding-bottom: 35px; }
  .poll .redirect_to_poll {
    text-align: center; }
    .poll .redirect_to_poll #poll_id {
      display: inline-block;
      width: 30%;
      padding: .375rem .75rem; }
  .poll .poll_buttons {
    text-align: center;
    margin-top: 20px; }
  .poll .poll_view .option {
    width: 33%;
    text-align: center;
    display: block;
    margin: 20px auto 0px auto; }
  .poll .poll_view .progress {
    height: 30px;
    width: 33%;
    margin: 20px auto 0px auto;
    background-color: white; }
    .poll .poll_view .progress .progress-bar {
      color: #38314f;
      white-space: nowrap;
      font-size: 16.5px; }

/* CUSTOMS */
.custom_button {
  background-color: #38314f;
  color: white; }

.custom-success {
  background-color: #3dbd79; }

.custom-danger {
  background-color: #ff5c5c; }

/*# sourceMappingURL=style.css.map */
